/*css global*/
@font-face{ 
    font-family: BEYNO Regular;
    src: url(../font/BEYNO.ttf);

}
/* panthera*/
@font-face{
    font-family: panthera;
    src: url("../font/pantheraRegular-MVZ9J.ttf");
}
/* wakanda*/
@font-face{
    font-family: Wakanda forever;
    src: url("../font/WakandaForever-Regular.ttf");
}
/* cantarell*/
@font-face{
    font-family: cantarell;
    src: url("../font/cantarell-Regular.ttf");
}
html{
    font-size: 1vw;
}
body{
    background-color: black;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    animation-name: fade-in;
    animation-duration: 5s;
}
header{
    background-color: black;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
header nav ul li{
    text-decoration-style: none;
    display: inline-block;
    justify-content: space-between;
    padding-left: 10%;
}
header nav ul li :hover{
    color: red;
    text-shadow: 0vw 5vw 10vw 0vw;
}
a {
    color: white;
}
#en-tête .logo{
    padding-top: 5%;
    padding-left: 15%;
}
#en-tête .logo :hover{
    transform: scale(1.2);
}
#en-tête .wakanda-style{
    font-family: BEYNO Regular;
}
#en-tête .enigme-style{
    font-family: BEYNO Regular;
}
#en-tête .acceil{
    font-family: cantarell;
}
h1{
    font-family: panthera;
    font-size: 4em;
    color: #9E91B7; 
}
h2{
    font-family: BEYNO Regular;
    font-size: 3em;
    color: blue;
}
h4{
    font-family: cantarell;
    font-size: 1em;
    color: white;
}

/*couleurs*/
:root{
    --blanc: #FFFFFF;
    --blanc-rose: #F2CEF2;
    --gris-clair: #9E91B7;
    --rose-foncee: #DF99F2;
    --violet: #3D2DA6;
    --bleu-noir: #07338C;
    --noir:#021740; /* rgb(2,23,64) */
}
html {
    font-size: 1.17vw;
    font-family: "Cantarell";
    margin-bottom: 3.66vw;
}
/*typograhies*/
/*h1{
    font-family: "Panthera";
    font-size: 4.97vw;
    color: var(--rose-foncee);
    line-height: 0.36vw;
}
*/
h1{
    font-family: "BEYNO";
    font-size: 2em;
    color: var(--rose-foncee);
    font-weight: 300;
    line-height: 2.19vw;
}

h2{
    font-family: "Wakanda forever";
    font-size: 3.14vw;
    color: var(--rose-foncee);
    font-weight: 300;
}
#texte-enigme{
    font-family: "Wakanda forever";
    font-size: 3.14vw;
}
body{
    background: url(../image/all\ pages/arrière_plan.png);
}

/*design header*/
.style-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin:0 auto;
}
.style-header .logo img{
    vertical-align: middle;
}
.style-header ul li{
    display: inline-block;
    list-style: none;
    margin: 1.09vw;
    font-family: "BEYNO";
}
.style-header ul li a{
    color: var(--rose-foncee);
}
.style-header ul li .accueil{
    color: var(--blanc);
    text-decoration: none;
}
.style-header ul li .wakanda{
    color: var(--blanc);
    text-decoration: none;
}

/*section presentation*/
.presentation{
    display: grid;
    grid-template-columns: 55% 45%;
}
.presentation .image-presentation img{
    width: 65.88vw;
    margin-top: -20%;
    margin-left: -3%;
}
.presentation .contenu-presentation{
    margin-left: -10%;
}
.presentation .contenu-presentation .titre-presentation{
    margin-top: 15%;
    padding-top: 1.46vw;
    padding-bottom: 1.46vw;
    letter-spacing: 0.36vw;
    margin-bottom: 8%;
    margin-left: 5%;
    margin-right: 20%;
}
.presentation .contenu-presentation .titre-presentation h1{
    padding-right: 20%;
    line-height: 120%;
}
.presentation .contenu-presentation .text-presentation .conteneur-text{
    position: relative;
    margin-left: -5%;
    margin-top: -5%;
}
.presentation .contenu-presentation .text-presentation .conteneur-text img{
    width: 85%;
}
.presentation .contenu-presentation .text-presentation .conteneur-text p{
    color: var(--blanc);
    font-family: "Cantarell";
    font-size: 0.73vw;
    position: absolute;
    top: 40%;
    left: 13%;
    width: 60%;
    margin: 0 auto;
}

/*section langage*/
.langage{
    display: grid;
    grid-template-rows: 40% 60%;
    width: 90%;
    margin:0 auto;
}
.langage .mot-wakandais h2{
    word-spacing: 0.73vw;
    line-height: 4.39vw;
    margin-right: 38%;
    margin-top: 5%;
    font-size: 2.34vw;
}

.langage .savoir{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 30%;
}

.langage .savoir .transcription{
    display: grid;
    grid-template-rows: 50% 50%;
}
.langage .savoir .transcription p{
    color: var(--blanc);
}
.langage .savoir .transcription p span{
    font-family: "Wakanda forever";
    font-size: 1em;
    line-height: 2.19vw;
}
.langage .savoir .transcription .alphabet{
    margin-top: 10%;
}
.langage .savoir .transcription .reponse input[type="text"]{
    color: var(--rose-foncee);
    background: transparent;
    width: 38.06vw;
    height: 4.09vw;
    border: 0.07vw solid var(--rose-foncee);
    border-radius: 2.78vw;
    padding-left: 5%;
}
.langage .savoir .transcription .reponse ::placeholder{
    color: var(--rose-foncee);
}
.langage .savoir .transcription .reponse .envoie{
    margin-left: 30%;
    margin-top: 10%;

}
.langage .savoir .transcription .reponse input[type="submit"]{
    color: var(--noir);
    background: var(--rose-foncee);
    border: 1px solid var(--rose-foncee);
    border-radius: 2.78vw;
    font-weight: bold;
    width: 12.73vw;
    height: 4.09vw;
    cursor: pointer;
}
.langage .savoir .savais-tu .conteneur-text{
    position: relative;
    margin-left: -5%;
    margin-top: -15%;
}
.langage .savoir .savais-tu .conteneur-text img{
    width: 85%;
}
.langage .savoir .savais-tu .conteneur-text p{
    color: var(--blanc);
    font-family: "Cantarell";
    font-size: 0.73vw;
    position: absolute;
    top: 35%;
    left: 10%;
    width: 60%;
    margin: 0 auto;
}
.langage .savoir .savais-tu .conteneur-text .text{
    text-align: center;
    margin-top: -5%;
}

/*footer*/
/*footer */
footer {
    background-image: url(../image/all\ pages/footer-image.png);
    background-position: center;
    padding-top: 8%;
    padding-bottom: 4.5%;
    margin-top: 12%;
    display: grid;
    grid-template-columns: 0.9fr 1fr;
}

/* partie gauche */
.footer-left {
    display: flex;
    justify-content: flex-end;
    margin-top: 4.5%;
}

.footer-left .img1 {
    position: relative;
    margin-right: 10%;
}

.footer-left .img1 img{
    width: 18vw;
}

.footer-left .img2 {
   position: absolute;
   top: 8vw;
   left: 4.5vw;
}

.footer-left .img2 img {
    width: 8vw;
}

/* partie droite */
.footer-right {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    color: white;
} 

footer h4 {
    font-family: cantarell;
    word-spacing: 1em;
    letter-spacing: 5px;
    line-height: 5;
}

footer p {
    line-height: 2;
}

.footer-right ul {
    list-style-type: none;
    display: flex;
    gap: 8%;
}

.footer-right ul img {
    width: 2.5vw;
}

.copyright {
    grid-column: span 2;
}
.reseaux li:hover{
    transform: scale(1.2);
}
   

section * {
    animation-name: fade-in;
    animation-duration: 5s;
}

@keyframes fade-in {
    from {
        opacity: 0%;
        transform: translateX(-50px);
    }
    to {
        opacity: 100%;
        transform: translateX(0px); 
    }
}

